{% block css %}
    <link href="{{ asset('global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" rel="stylesheet"
          type="text/css"/>

    <link href="{{ asset('global/plugins/bootstrap-touchspin/bootstrap.touchspin.css') }}" rel="stylesheet"
          type="text/css"/>
    <style>
        #pessoa, #categoria {
            border-radius: 0 !important;
            max-width: 100%;
            min-height: 55px;
            z-index: 0;
            z-index: 0 !important;
        }

        #categoria input {
            border: none
        }

        #categoria {
            height: 230px;
            vertical-align: text-top
        }
        .modal-dialog{
            overflow-y:initial !important;
        }
        .modal-body{
            max-height: 600px;
            overflow-y:auto;
        }
        .modal #espandirForm, .modal .form-actions a{display:none}

    </style>
{% endblock %}

{% block javascript %}

    <script src="{{ asset('global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var d = new Date(1999, 10 - 1, 25)
            var data = d.getTime()
            $('.date-picker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                minDate: '-1d',
                maxDate: '+1d'
            })

            $('.timepicker').timepicker({
                showMeridian: false,
                minuteStep: 5,
                autoclose: true
            })
            $('.duracao').TouchSpin({
                min: 15,
                max: 360,
                step: 5,
                postfix: 'minutos'
            });
            $('#pessoa').magicSuggest({

                data: [
                    {% for pessoa in pessoas %}
                    "{{ pessoa.nome }} - {{ pessoa.contactos.descricao }}",
                    {% endfor %}
                ],
                resultAsString: true,
                allowFreeEntries: false,
                maxSelection: 1,
                name: "nomecompleto"
            });

            $('#categoria').magicSuggest({

                data: [
                    {% for categoria in categorias %}
                    {% if(categoria.dependencia is not null) %}
                    "{{ categoria.nome }} - {{ categoria.dependencia.nome }}",
                    {% endif %}
                    {% endfor %}
                ],
                resultAsString: true,
                allowFreeEntries: false,
                maxSelection: 6,
                name: "categoria"
            });
            $('[data-toggle="modal"]').click(function (e) {
                e.preventDefault();
                $.ajax({
                    dataType: 'Json',
                    type: 'GET',
                    url: '{{ path('membro_new') }}',
                    data: null,
                    success: function (template) {
                        $('.modal .modal-body').html(template.message)
                    },
                    error: function (e) {
                        alert(e)
                        $('.modal .modal-body').html('helo world x')
                    }
                })
            });
        })
    </script>
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">fechar</button>

            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-user font-dark"></i>
                    <span class="caption-subject bold uppercase"> Cadastrar Visitas</span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <form role="form" class="cadastrarVisita" method="POST" action="javascript:;">
                    <div class="form-body">

                        <div class="form-group" style="margin:0 15px;  margin-bottom: 30px">
                            <label class="control-label">Nome Completo</label>
                            <div class="input-group ">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <div id="pessoa"></div>
                                <span class="input-group-addon"><button class="btn btn-primary"  data-toggle="modal" data-target="#myModal" data-toggle="modal" data-target="#myModal" type="button"><i
                                                class="fa fa-user-plus"></i></button></span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tipo</label>
                            <div class="md-checkbox has-success">

                            </div>

                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="radio14" checked name="tipo" class="md-radiobtn" value="1">
                                    <label for="radio14">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Guiada </label>
                                </div>
                                <div class="md-radio has-primary">
                                    <input type="radio" id="radio16" name="tipo" class="md-radiobtn" value="0">
                                    <label for="radio16">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Não Guiada </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Duração</label>
                            <div class="input-icon input-icon-lg">
                                <input type="text" name="duracao" value="15" class="form-control input-lg duracao">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Data</label>
                            <div class="input-icon input-icon-lg">
                                <i class="fa fa-calendar-o"></i>
                                <input type="text" name="data" class="form-control input-lg date-picker"
                                       placeholder="data"></div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Hora</label>

                            <div class="input-icon input-icon-lg">
                                <i class="fa fa-clock-o"></i>
                                <input type="text" name="hora" value="12:00"
                                       class="form-control input-lg timepicker">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Descrição</label>
                            <div class="input-icon input-icon-lg">
                                <i class="fa fa-anchor"></i>
                                <textarea name="descricao" class="form-control input-lg"
                                          placeholder="Descrição" rows="9" maxlength="490"></textarea></div>
                        </div>
                        <div class="form-group col-md-6" style="">
                            <label class="control-label">Categoria de Interece</label>
                            <div class="input-group ">
                                <span class="input-group-addon"></span>
                                <div id="categoria"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-actions row">
                            <button type="submit" class="btn blue">Submit</button>
                            <a href="{{ path('visita_view') }}">
                                <button type="button" class="btn default">Cancel</button>
                            </a>

                        </div>
                    </div>
                </form>
                <div class="row"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>