{% block css %}
    <link href="{{ asset('global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {


            $('li').removeClass('active open selected');
            $('.Visita').addClass('active open selected');

            $('.cadastrar').click(function (e) {

                $('.page-content-col').html('<div class="Mnloader col-md-12" style="min-height: 100px; text-align: center"><img class="col-md-2 col-md-offset-5" src="{{ asset('img/Loader.gif') }}"></div>');
                e.preventDefault();
                cadastrarVisita("GET", $(this).attr('title'))
            });

            function cadastrarVisita(tipo, data) {
                $.ajax({
                    type: tipo,
                    dataType: 'json',
                    url: {{ path('membro_new') }},
                    data: data,
                    success: function (template) {
                        $('.page-content-col').html(template.message); //Change the html of the div with the id = "your_div"

                        $('.cadastrarVisita').submit(function (e) {
                            e.preventDefault();
                            cadastrarVisita("POST", $(this).serialize())
                        })
                        if (template.status == 1) {
                            swal({
                                title: 'Parabens!',
                                text: "A visita foi cadastrada com sucesso pro dia "+$('.date-picker').val(),
                                type: 'success',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Ok, Continuar!',
                                confirmButtonClass: 'btn btn-success',
                                buttonsStyling: false
                            }, function (dismiss) {
                                // dismiss can be 'cancel', 'overlay',
                                // 'close', and 'timer'
                                if (dismiss == true) {
                                    location.reload();
                                }

                            })
                        }

                    },
                    error: function (e) {
                        alert(e.message)
                        $('.page-content-col').html(e.responseText)
                    }
                });
            }
        })
    </script>
{% endblock %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-user font-dark"></i>
                    <span class="caption-subject bold uppercase"> VISITA</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">

                        {% if 'ROLE_VISITA_ADD' in user.R  %}
                        <button id="sample_editable_1_new" class="btn sbold green cadastrar" title="membro" VALUE="0">
                            Inserir Nova
                            <i class="fa fa-plus"></i>
                        </button>
                        {% endif %}
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Feramentas
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i> Imprimir </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i> Salvar em PDF </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered dt-responsive nowrap table-hover">
                    <thead>
                    <tr role="row">
                        <th style="width: 35px;"></th>
                        <th style="width: 200px;">
                            Nome participante
                        </th>
                        <th style="width: 80px;">
                            Tipo
                        </th>
                        <th style="width: 100px;">
                            Data Visita
                        </th>
                        <th style="width: 60px;">
                            Estado
                        </th>
                        <th style="width: 180px;">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i=0 %}
                    {% for membro in dados %}
                    {% set i=i+1 %}
                    <tr class="gradeX odd" role="row">
                        <td class="sorting_1"> {{ i }} </td>
                        <td>
                            {{ membro.Idparticipante.nome }}
                        </td>
                        <td>
                            {{ membro.tipo }}
                        </td>
                        <td>
                            {{ membro.dataVisita }}
                        </td>
                        <td>
                                    <span class="label label-sm
                                    {% if membro.estado =="Pendente" %}
                                        label-warning
                                    {% elseif membro.estado =="Activo" %}
                                        label-primary
                                    {% elseif membro.estado =="Excluido" %}
                                        label-danger
                                    {% endif %}
                                    ">
                                    {{ membro.estado }} </span>
                        </td>
                        <td>
                            <div class="btn-group">



                                {% if 'ROLE_VISITA_DELETE' in user.R  %}
                                <button class="btn btn-xs red dropdown-toggle eliminar" title="membro" type="button"
                                        aria-expanded="false" value="{{ membro.id }}" d="">
                                    <i class="fa fa-eraser"></i> Eliminar
                                </button>
                                {% endif %}
                                {% if 'ROLE_VISITA_EDIT' in user.R  %}
                                    <a href="{{ path('visita_show',{'id':membro.id}) }}">
                                        <button class="btn btn-xs green dropdown-toggle editar"
                                                value="{{ membro.id }}" type="button"
                                                aria-expanded="false">
                                            <i class="fa fa-edit"></i> Editar
                                        </button></a>
                                {% endif %}
                                {% if 'ROLE_VISITA_VIEW' in user.R  %}
                                    <a href="{{ path('visita_show',{'id':membro.id}) }}">
                                        <button class="btn btn-xs green dropdown-toggle ver" title="membro"
                                                value="{{ membro.id }}" type="button"
                                                aria-expanded="false">
                                            <i class="fa fa-eye"></i> Ver
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>