<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> HÁBITO</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <button id="sample_editable_1_new" class="btn sbold green cadastrar" title="habito" VALUE="0"> Inserir Nova
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Feramentas
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i> Imprimir </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i> Salvar em PDF </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="sample_1_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                     class="form-control input-sm input-small input-inline"
                                                                                                     placeholder=""
                                                                                                     aria-controls="sample_1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                               id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 62px;">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
                                        <span></span>
                                    </label>
                                </th>
                                <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                    aria-label=" Username : activate to sort column descending"
                                    style="width: 35px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Email : activate to sort column ascending" style="width: 244px;">
                                    Nome
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Status : activate to sort column ascending" style="width: 105px;">
                                    Descrição
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending" style="width: 163px;">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i=0 %}
                            {% for habito in dados %}
                            {% set i=i+1 %}
                            <tr class="gradeX odd" role="row">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="1">
                                        <span></span>
                                    </label>
                                </td>
                                <td class="sorting_1"> {{ i }} </td>
                                <td>
                                    {{ habito.nome }}
                                </td>
                                <td>
                                    {{ habito.designacao }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle cadastrar" title="habito" value="{{ habito.id }}" type="button"
                                                aria-expanded="false">
                                            <i class="fa fa-edit"></i> Editar
                                        </button>
                                        <button class="btn btn-xs red dropdown-toggle eliminar" title="habito" type="button"
                                                aria-expanded="false" value="{{ habito.id }}" d="{{ habito.nome }}" >
                                            <i class="fa fa-eraser"></i> Eliminar
                                        </button>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 11
                                to 15 of 25 records
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                                <ul class="pagination" style="visibility: visible;">
                                    <li class="prev"><a href="#" title="First"><i
                                                    class="fa fa-angle-double-left"></i></a></li>
                                    <li class="prev"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                                    <li class="next"><a href="#" title="Last"><i
                                                    class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>