<div class="caption">
    <h2 class="caption-subject font-dark sbold uppercase titulo"> {{ amostra.nome }}</h2>
</div>
<div class="col-md-6 ">
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-no-bordered table-advance table-hover">
                <thead>
                <tr>
                    <td style="width: 40%">
                        Classe
                    </td>
                    <th class="hidden-xs">
                        {{ amostra.getTipo.dependencia.nome }} >
                        {{ amostra.getTipo.nome }}
                    </th>

                </tr>
                <tr>
                    <td>
                        Condições de Formação
                    </td>
                    <th class="hidden-xs">
                        <b>{{ amostra.condicoesdeFormas }}</b>
                    </th>

                </tr>
                <tr>
                    <td>
                        Aplicação
                    </td>
                    <th class="hidden-xs">
                        <b>{{ amostra.aplicacao }}</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        Mineralogia
                    </td>
                    <th class="hidden-xs">
                        <b>{{ amostra.mineralogia }}</b>
                    </th>
                </tr>
                <tr>
                    <td>

                        {% if amostra.tipo.id == 13 %}
                            Modo de jazida
                        {% elseif amostra.tipo.id == 14 %}
                            Grau Metamórfico
                        {% elseif amostra.tipo.id == 15 %}
                            Ambiente Sedimentar
                        {% endif %}
                    </td>
                    <th class="hidden-xs">
                        {% if amostra.tipo.id == 14 %}
                            {{ amostra.tipoDados.descricao }}
                        {% else %}
                            {% for tipo in amostra.tipoDados %}
                                <b>
                                    {% if amostra.tipo.id == 13 %}
                                        {{ tipo.idmododejazida.nome }}
                                    {% elseif amostra.tipo.id == 14 %}
                                        {{ tipo.idmododejazida.nome }}
                                    {% elseif amostra.tipo.id == 15 %}
                                        {{ tipo.nome }}
                                    {% endif %}
                                    {{ tipo.idmododejazida.nome }}
                                </b>,
                            {% endfor %}
                        {% endif %}
                    </th>

                </tr>
                <tr>
                    <td>
                        Prateleira
                    </td>
                    <th class="hidden-xs">
                        <b>{{ amostra.prateleira.nome }}</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        Local de extração
                    </td>
                    <th class="hidden-xs">
                        <b>{{ amostra.local.nome | capitalize }}</b>, Provincia de
                        <b>{{ amostra.local.idprovincia.nome | capitalize }}</b> -
                        <b>{{ amostra.local.idprovincia.idpais.nome | capitalize }}</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        Data
                    </td>
                    <th class="hidden-xs">{{ amostra.data }}
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">

    <div class="portlet-body">
        <div class="table-scrollable">
            <img src="{{ asset('global/img/acervos/amostra/'~amostra.nome | lower ~'-1.jpg') }}" class="img-thumbnail">
            <img src="{{ asset('global/img/acervos/amostra/'~amostra.nome | lower ~'-2.jpg') }}" class="img-thumbnail">
        </div>
    </div>
</div>